html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* ============================ Common Styling ============================ */

a {  text-decoration: none; color: #000; }

ul {  list-style: none; display: inline-block; }

* {  font-family: sans-serif; outline: none; }
img { width: 100%; }

/* ============================================ */

body{
  background: #fff;
}

/* Header */
header {
  width: 100%;
  background-color: #fff;
}
.hamburger {
  display: none;
}

header > .wrapper {
 width: 98%;
  padding: 1% 1%; 
}

.header--logo {
  width: 100px; 
}

h1, nav, .header__menu-pages li, .header__social li {   display: inline-block; }

.header__menu-pages li, .header__social li {
  padding-right: 20px;
}
.header__menu-pages li:last-child, .header__social li:last-child {
  padding-right: 0;
}
.main-nav {
  width: calc(100% - 105px);
  font-size: 18px;
  vertical-align: middle;
}
.header__social{
  margin-top: 5px;
  padding-left: 15px;
  float: left;
}
.header__menu-pages {
  float: right;
}
header i.fa {
  font-size: 25px;
}
header input[type=text] {
  width: 60px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  outline: none;
}
header input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #111d43;
    opacity: 1; /* Firefox */
}
header input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #111d43;
}
header input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    color: #111d43;
}
.header__menu-pages--title {
  font-family: sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}
.active-menu {
  font-weight: bold;
}
.btn {
  border: none;
}
.btn--transparent {
  background: transparent;
  outline: none;
}

/* Banner */

.banner {
  width: 100%;
  height: 350px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}
.banner,.search__form {
  -webkit-box-shadow: 0 10px 6px -6px #ccc;
     -moz-box-shadow: 0 10px 6px -6px #ccc;
          box-shadow: 0 10px 6px -6px #ccc;
}

.banner__heading {
  color: #111d43;
  font-size: 800%;
  font-weight: bold;
  text-transform: uppercase;
}
.banner__sub-heading {
  color: #111d43;
  font-size: 300%;
  line-height: 0;
  text-transform: uppercase;
}
.banner__image {
  margin: 0 auto;
  max-width: 50%;
}
.banner__search-image {
  position: absolute;
  bottom: 15px;
  right: 0;
}


/* ==== Main Section Start ==== */

/* Search Section */

.search > .wrapper {
  width: calc(100% - 30px);
  margin: 10px 15px;
}

.search__heading {
  margin: 0;
  padding: 20px 0;
  color: #111d43;
  font-weight: 1000;
  font-size: 200%;
  text-align: center;
  text-transform: uppercase;
}

.search__form {
  width: calc(100% - 2px);
  border: 1px solid #ccc;
  font-size: 0px;
}

.search__input {
  width: calc(25% - 1px);
  padding: 10px 0;
  border-right: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
}

.search__input:last-child {
  padding: 0;
  border-right: none;
  background-color: yellow;
}
.search__input:last-child::after {
  content: '';
}
.search__input label ,
.search__input select,
.search__input button[type=submit] {
  width: 100%;
  padding: 5px 15px;
  display: block;
}

.search__input label {
  width: calc(100% - 30px);
  font-size: 14px;
  font-weight: bold;
  color: #999;
  cursor: default;
}

select {
  margin: 0;
  border: 0;
  font-size: 16px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.search__input button[type=submit] {
  padding: 25px 0;
  background: transparent;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #111d43;
}

button .fa-search {
  padding-right: 5px;
}

/* Select Arrow */

.search__input {
  position: relative;
}
.search__input::after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  pointer-events: none;
}



/* Featured Section Start */

.featured > .wrapper, .specials > .wrapper, .family-story > .wrapper {
  width: calc(100% - 30px);
  margin: 30px 15px;
}
.featured__heading, .specials__heading, .family-story__heading {
  padding: 15px 0;
  color: #111d43;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Slider */

.slider {
  width: calc(98%);
  display:block;
}
.slick-slider {
  margin-bottom: 20px  !important;
}
.slider__image-container {
  margin-bottom: 20px;
}

/* Promotion Part */
.fa-bookmark-o {
  color: #ac838b;
  font-size: 14px;
}

.slider__boat-promotion ins {
  padding-left: 5px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.slider__boat-promotion del {
  color: #969499;
  font-size: 14px;
}

.slider__boat--name {
  font-size: 14px;
  text-transform: uppercase;
}

.slider__boat--length {
  font-size: 13px;
}

.slider__boat--name, .slider__boat--length {
  padding-right: 3%;
  display:block;
  background: transparent;
  color: #1b1e25;
  font-weight: bold;
}

img.slick-prev {
  visibility: hidden;
}
img.slick-next , img.slick-prev {
  height: 25px;
}
.featured__slider-img, .specials__slider-img {
  padding: 0 15px;
}

/* Client Slider */

.client {
  margin-top: 80px;
  margin-bottom: 30px;
}
.client__slider-img {
  padding: 0 20px;
}

/* Family Story */

.family-story__heading {
  font-size: 350%;
  font-weight: 1000;
  text-align: center;
}
.family-story__info {
  color: #9d9e9f;
  font-size: 25px;
  text-align: center;
}
.family-story iframe {
  width: 62%;
  height: 435px;
  margin: 15px auto;
  text-align: center;
  transform: translateX(32%);
}


/* Footer Section */

footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #111d43;
}
footer ul.wrapper {
  width: 96%;
  margin: 0 2%;
}

.footer-menu a {
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

footer > ul > li {
  width: 20%;
  /*padding-left: 10px;*/
  display: inline-block;
  vertical-align: top;
}

ul.footer-menu li {
  padding-bottom: 15px;
  display: block;
}
.footer-menu > li:last-child {
  padding-bottom: 0;
}

.footer-menu i {
  padding-right: 15px;
  font-size: 25px;
}

ul.footer-social-menu li {
  padding-right: 15px;
}
.third a, ul.third li {
  font-weight: normal;
  padding-bottom: 5px;
}

/* Message Box */

footer > ul > li:last-child {
  width: 34%;
  padding-left: 4%;
}
.message-box span { 
  padding-bottom: 10px;
  display: block;
  color: #fff;
}
.message-box__heading {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 1000;
  text-transform: uppercase;
}
.message-box__info {
  /*font-family: sans-serif;*/
  font-size: 20px;
  padding-bottom: 10px;
}
input[type=email] {
  width: 50%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #fff;
  font-size: 18px;
  background: transparent;
}
/* Placeholder Styling for Email */
input[type=email]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
input[type=email]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
input[type=email]::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
.message-box i {
  font-size: 25px;
  color: #fff;
  padding-left: 10px;
  display: inline-block;
}


/* Header Media Query */
@media (max-width: 900px){
  .responsive-header {
    position: relative;
  }
  .header__social, .main-nav {
    display: none;
  }
  .hamburger {
    display: block !important;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .main-nav {
    position: absolute;
    top: 58px;
    left: 0;
    z-index: 999;
    opacity: 0.9;
  }
  nav, .header__menu-pages li {   display: block; }
  
  .main-nav, .header__menu-pages {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    background-color: #111d43;
  }
  .header__menu-pages li {
    width: 100%;
    padding: 10px 0;
    display: block;
    text-align: center;
  }
  .header__menu-pages li a {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2em;
  }
  header input[type=text] {
    width: 40%;
    border-bottom: 1px solid #777;
    color: #fff;
    font-size: 18px;
    background: transparent;
    text-align: center;
  }
  header input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 0.5; /* Firefox */
  }
  header input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
  }
  header input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
  }
  header i.fa-search { color: #fff; }

  /* Banner Part */
  .banner__heading {
    font-size: 550%;
  }
  .banner__sub-heading {
    font-size: 200%;
  }
  .banner {
    height: 300px;
  }
  .banner__search-image {
    width: 5%;
  }
  .banner__image {
    max-width: 80%;
  }
  .search__heading {
    font-size: 100%;
  }
  .family-story__heading {
      font-size: 250%;
  }
  .family-story__info {
    font-size: 20px;
  }
  .family-story iframe {
    width: 80%;
    height: 300px;
    transform: translateX(12%);
  }
  /* Footer */

  footer > ul > li {
    width: 18%;
  }
  footer > ul > li:last-child {
    width: 40%;
  }
}

@media (max-width: 750px){
  footer > ul > li {
    width: 32%;
  }
  footer > ul > li:last-child {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  .message-box {
    width: 50%;
    margin: 0 auto;
  }
  input[type=email] {
    width: 72%;
  }
  .message-box__heading {
    font-size: 30px;
  }
  .message-box__info {
    font-size: 16px;
  }
  /* Client Slider */
  .client {
    margin-top: 50px;
  }
}

@media (max-width: 550px){
  footer > ul > li {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-menu a { font-size: 16px; }
  .message-box {
    width: 100%;
  }
  input[type=email] {
    width: 55%;
  }
  .message-box__heading {
    font-size: 40px;
  }
  .message-box__info {
    font-size: 20px;
  }
  footer {
    padding: 20px 0;
  }
}

@media (max-width: 600px){
    /* Search Part Media Query */

  .search__input {
    width: auto;
    display: block;
  }
  .search__input select {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* Banner Part */
  .banner__heading {
    font-size: 300%;
  }
  .banner__sub-heading {
    font-size: 100%;
  }
  .banner {
    height: 220px;
  }
  .banner__search-image {
    width: 5%;
  }
  .banner__image {
    max-width: 80%;
  }
  .search__heading {
    font-size: 100%;
  }
  .family-story__heading {
      font-size: 250%;
  }
  .family-story__info {
    font-size: 20px;
  }
  .family-story iframe {
    width: 80%;
    height: 220px;
    transform: translateX(12%);
  }
}

