// Colors and Bg colors starts here
$odd-background-color: #ebebeb;
$black: #000;
$white: #fff;
$fcolor: #3d3d3d;
$blackop: rgba(0,0,0,.7);
$header_hamnburger: #00A1F1;
$lightgrey: #eaeaea;
$lightblue: #4D5360;
// colors and bg colors ends here

// Fonts variables starts here
$font: 'Open Sans';
$bold-font: 'Open Sans Regular';
$bolder-font: 'Open Sans Bold';
$calluna-round: 'CallunaRegular';
// Fonts variables ends here

$sm-font: 12px;
