/*==================================================================================
404 page Styling
====================================================================================*/


.error404 {
	header {
		.header_navigation-currentmenu { padding: 25px 23px 46px 0; }
	}
		main {
			.wrapper {
			text-align: center;
		}
		.error_content a {
			@include button();
		  background-color: #00b333;

		  &:before { border: 1px solid #00b333; }
		}
	}
	footer {
		@include min-responsive(1400) {
			position: absolute;
			bottom: 0;
		}
	}
}
main {
	.error_content {
  	height: 433px;
		padding-top: 171px;
	}
}
