
// Dropdown Filters Styling Starts from here
.sjb-job-filters {
	margin-top: 71px;

	.wrapper {
		width: 100%;
		position: fixed;
		top: 71px;
		left: 0;
		z-index: 10;
		background-color: $white;
		@include responsive(768) { position: static; }
	}
}

.sjb-job-filters-form {
	width: 80%;
	padding: 25px 0 15px;
	margin: 0 auto;
	display: block;
	float: none;
	background: transparent;


	#sjb-form-padding {
		padding: 0;
		margin: 0 23px 24px 0;
	}
	select::-ms-expand {
    display: none;
	}
	select {
		width: 202px;
		height: 40px;
		padding: 4px 40px 4px 10px;
		border: 1px solid #d3d3d3;
		@include vendor-prefixes (border-radius , 2px);
		@include vendor-prefixes(appearance , none);
		background-color: transparent;
		color: $black;
		font-family: 'Open Sans Regular', sans-serif;
		font-size: 16px;
		font-weight: 400;
		text-align: left;
		outline: none;

		option {
			padding: 4px;
			height: 40px;
			cursor: pointer;
			text-transform: capitalize;
		}
	}

	.sjb-search-categories,
	.sjb-search-job-type {
		box-shadow: none;
		width: auto;
		padding: 0px 8px 4px 0px;
		margin-bottom: 20px;
		display: inline-block;
		background: url(assets/images/arrow_down.png) no-repeat 90% center;
		@include responsive(768) {
			margin-bottom: 5px;
			background: url(assets/images/arrow_down.png) no-repeat 90% center;
		}
		@include responsive(767) {
			width: auto;
			padding-right: 0;
			display: block;
			background: url(assets/images/arrow_down.png) no-repeat 95% center;
		}
    select { @include responsive(768) { width: 100%; } }
}

.sjb-search-job-type {
	padding-left: 15px;
	@include responsive(768) {
	  padding-left: 4px;
	  background: url(assets/images/arrow_down.png) no-repeat 87% center;
	}
	@include responsive(767) {
		padding-left: 0;
		background: url(assets/images/arrow_down.png) no-repeat 95% center;
	}
	select.form-control {
		width: 177px;
		@include responsive(768) { width: 100%; }
	}
}
}

.sjb-search-button { display: none; }

// Dropdown Filter Styling ends here


// List of Categories Starts from here
.page-template-careers .careers_list-view {
	padding-top: 54px;

	&:first-child {
		padding-top: 142px;
		@include responsive(1024) { padding-top: 130px!important; }
		@include responsive(768) { padding-top: 50px!important; }
		@include responsive(767) { padding-top: 25px!important; }
	}

	.wrapper {
		padding-bottom: 74px;
		@include responsive(1024) { padding-bottom: 0px; }
	}

	ul {
		padding-left: 45px;
		margin-bottom: 30px;
		@include responsive(1024) { margin-bottom: 0px; }

		li {
			color: #3d3d3d;
			font-family: 'Open Sans', sans-serif;
			font-size: 18px;
			font-weight: 300;
			line-height: 29px;
			list-style-type: disc;
			list-style-position: outside;
		}
	}

	p { margin-bottom: 10px; }

	@include responsive(1024) { padding: 50px 0!important; }
	@include responsive(767) { padding: 25px 0!important; }
}

.page-template-careers .careers_list-view {
	&:nth-child(odd) { background-color: $odd-background-color; }
	h2 {
		font-size: 40px;
		font-weight: 700;
		@include moz-hack { font-weight: 500; }
		@include responsive(1024) { margin-bottom: 20px; }
		@include responsive(767) {
			margin-bottom: 10px;
    	font-size: 25px;
    	line-height: 25px;
		}
		@include responsive(480) {
		margin-bottom: 23px;
    font-size: 26px;
    line-height: 30px; }
	}
	p {
		color: #3d3d3d;
		@include fonts (100,18px,$font);
		line-height: 25px;
		@include responsive(1024) { display: none; }

		strong { font-family: $bolder-font; }
	}
	li {
		font-family: $font;
		font-size: 18px !important;
		@include responsive(1024) { display: none; }
	}
}

.apply_here {
	@include button;
	& a {
		transition-duration: .5s;

		&:hover {
			background: transparent;
			color: $black;
		}
	}
	margin-top: 30px;
	background-color: #00a1f1;
	display: inline-block;

	&:before{
		border-color: #00a1f1;
	}

	@include responsive(1024) {
		margin-top: 0;
		&:hover {
			background: #00a1f1;
			color: $white;
		}
		&:hover:after {
			background: url(assets/images/arrow.png) no-repeat;
		}
	}
	@include responsive(767) { font-size: 15px; }
}

.careers-section {
	.careerpage_no-job-listing {
		width: 80%;
		margin: 40vh auto 41vh;
		text-align: center;
		@include responsive(1024) { margin: 50vh auto 20vh; }
		@include responsive(768) { margin: 10vh auto 10vh; }
		p {
			margin-bottom: 30px;
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			font-weight: 100;
			line-height: 38px;
			word-break: break-word;
		}
	}
}


.touch {
	.jobpost-form{
		.form-group {
			.app-submit-open {
				background-color: #00a1f1;
			}
		}
	}
	.header_navigation-container{
		#header_navigation-toggle {
			right: 0;
		}
	}
}