footer {
	box-sizing: border-box;
	width: 100%;
	padding: 45px 26px 45px 25px;
	background-color: $black;
	clear: both;

	span.menu-image-title {
		font: 14px/16px $bolder-font;
		@include responsive(1024) { font-size: 13px; }
		@include responsive(767) { font-size: 16px; }
	}

	@include responsive(767) { 
		padding: 30px 24px;
		margin-top: 50px;
	}
	.caption {
		margin-bottom: 10px;
		color: $white;
		font: bold 17px/20px "Open Sans";
		text-transform: capitalize;
		@include responsive(767) { font: bold 18px/25px "Open Sans"; }
	}
}

.footer_left-content {
	.footer_navigation-primary {
		float: right;
		@include responsive(767) { 
			display: none;
		}
		li {
			margin: 0 -4px 0 30px;
			display: inline-block;
			&:first-child { margin-left: 0; }
			@include responsive(767) { 
				margin: 10px 0 0 0;
				display: block;
				&:first-child { margin-top: 0; }
			}
			a {
				display: inline-block;
				color: $white;
				font: 15px/23px $font;
				text-decoration: none;
				text-transform: uppercase;
				@include responsive(1255) { font-size: 14px; }
				@include responsive(1200) { font-size: 12px; }
				@include responsive(1024) { font-size: 16px; }

				&:hover { color: rgb(0, 161, 241); }
			}
		}
	}
	.footer_logo {
		float: left;
		@include responsive(767) { float: none; }
		a {
			display: inline-block;
			text-indent: -120%;
		}
		img { float: left; }
	}
	@include responsive(767) { 
		width: 100%;
		margin-left: 0;
	}
}

.footer_right-content {
	margin-top: 40px;
	position: relative;
	@include responsive(767) { margin-top: 25px; }
}

.footer_navigation-primary li.current-menu-item a { color: rgb(0, 161, 241); }


.footer_contactinfo {
	float: left;
	@include responsive(1024) { width: 34%; }
	@include responsive(767) { 
		width: 100%;
		float: none;
	}
	@include responsive(767) {
		width: 100%;
		float: none;
	}
	li {
		margin-bottom: 0;
		list-style-type: none;
		&:nth-of-type(2),
		&:nth-of-type(4) { margin-bottom: 20px; }
		@include responsive(1023) {  
			&:nth-of-type(2),
			&:nth-of-type(4) { margin-bottom: 10px; }
		}
		@include responsive(767) {  
			&:nth-of-type(2),
			&:nth-of-type(4) { margin-bottom: 20px; }
		}
	}
	a {
		display: inline-block;
		color: $white;
		font-family: $font;
		font-size: 14px;
		line-height: 23px;
		text-decoration: none;
		&:hover { color: rgb(0, 161, 241); }
		@include responsive(1024) { font-size: 12px; }
		@include responsive(767) { font-size: 16px; }
		&:last-child { margin-bottom: 0;  };
	}
}

.hiring-social {
	position: absolute;
	right: -2px;
	bottom: 0;
	text-align: right;
	@include responsive(767) {
		margin-top: 22px;
		position: static;
		text-align: left;
	}
	.footer_navigation-social {
		width: 93px;
		text-align: right;
		@include responsive(768) { width: 100%; }
		@include responsive(768) { text-align: left; }
	}
	.hiring {
		.positions {
			display: inline-block;
			color: $white;
			font: italic 17px/17px $font;
			text-decoration: none;
			text-transform: capitalize;
			&:hover { color: $header_hamnburger; }
			@include responsive(1024) { font-size: 14px; }
			@include responsive(767) { font-size: 16px; }
		}
	}
}

.footer_navigation-social-menu {
	margin-top: 18px;
	@include responsive(1024) {
		display: block;
	}
	li {
		margin-left: 15px;
		display: inline-block;
		vertical-align: top;
		&:first-child { margin-left: 0; }
		a {
			width: 100%;
			height: 100%;
			display: block;
			.menu-image-hover-wrapper {
				padding-right: 0;
				img {
					width: 39px;
					height: 39px;
					margin-left: 0 !important;
				}
			}
			.menu-image-title { display: none; }
			&:hover img {
				opacity: .8;
			}
		}
	}
}

.sjb-page .footer_navigation-social-menu {
	margin-top: 21px;
	@include responsive(1024) { padding-left: 2%; }
}

.people_team-socials img {
	border-radius: 50%;
	background-color: $white;
}

.menu-image-hover-wrapper:hover img {
	opacity: 0.6 !important;
}
.menu-image-hover-wrapper img:last-of-type { display: none; }

footer {
	li {
		a { font-size: 15px; }
	}
}

.menu-social-container {
	.footer_navigation-social-menu {
		.menu-item {
			.menu-image-title-after  { padding-right: 0; }	
		}
	}
}

.move-down {
	position: absolute;
 	bottom: 0;
}