//Body Styling
.page-template-home header {
border: none;
background: none;
}

// Header Section
header {
width: 100%;
padding-bottom: 72px;
position: fixed;
background-color: rgba(255,255,255,0.9);
border-bottom: 1px solid #d3d3d3;
@include vendor-prefixes(transition , all 0.5s linear );
z-index: 999;

@include deviceWidth(1200) {
.jspContainer { margin-top: 55px; }
}
}

.menu_white { background-color: transparent; }

.menu_black { background-color: #000; }

.logo_container {
width: 100%;
overflow: auto;
position: absolute;
z-index: 1000;
}

h1 {
margin: 24px 0 24px 24px;
float: left;
position: relative;
z-index: 11;

a {
width: 93px;
height: 23px;
display: inline-block;
float: left;
text-indent: -9999px;

img {
width: 93px;
height: 23px;
float: left;
}
}

}

// List of navigation menus
.header_navigation-primary {
width: 100%;
height: 100%;
display: block;
position: fixed;
z-index: 10;
top: 0;
left: 0;
background-color: rgba(0,0,0,0.95);
opacity: 0;
overflow-y: auto;
overflow-x: hidden;
visibility: hidden;
@include vendor-prefixes(transition , all linear);
text-align: center;
@include responsive(480) {
height: 100vh;
}

//Header navigation styling
.header_navigation-nav-menu {
width: 100%;
padding: 0;
display: table-cell;
position: absolute;
top: 44%;
opacity: 0;
@include vendor-prefixes(transform ,perspective(600px) rotateX(9deg) translateY(-60%));
@include vendor-prefixes(transition, all linear .4s);
vertical-align: middle;
visibility: hidden;
}

li a {
width: 100%;
padding: 12px 0;
display: block;
color: $white;
letter-spacing: -0.05em;
@include fonts(700, 45px, $bolder-font);
-webkit-font-smoothing: antialiased;
@include moz-hack { font-weight: 500; }
text-transform: uppercase;
text-decoration: none;
text-align: center;

@include responsive(767) {
font-size: 30px;
line-height: 32px;
}
@include min-responsive(1500) { font-size: 7.5vh; }

&:hover {
background-color: $white;
color: $black;
}
}

.small_font { font-size: 1.5em; }

.menu_open {
/*top: 50%; */
top: 46%;
overflow: auto;
opacity: 1;
visibility: visible;
@include vendor-prefixes(transform, perspective(600px) rotateX(0deg) translateY(-50%));
@include orientation-responsive(landscape,767) { top: 55%; }
@include min-responsive(1600) {
	top: 47%;
}
@include orientation-responsive(landscape,767) { top: 55%; }
	@media only screen and (max-width: 1024px) {
		top: 53%;
	}

	@media only screen and (max-width: 992px) {
		top: 54%;
	}
	@media only screen and (max-width: 450px) {
		top: 53.5%;
	}
}


.menu_close {
pointer-events: none;
@include vendor-prefixes(transform, perspective(600px) rotateX(-9deg) translateY(-50%));
top: 70%;
opacity: 0;
visibility: hidden;
}
}

// hamburger box styling

.header_navigation-container {
margin-right: 0;
position: fixed;
top: 0;
right: 0;
z-index: 11;

.closeham { 
padding: 0 !important;
margin: 24px;
}

#header_navigation-toggle {
width: 27px;
height: 24px;
padding: 24px;
right: 15.5px;
cursor: pointer;
float: right;

.header_hamburger {
width: 28px;
height: 25px;
position: relative;
cursor: pointer;
float: right;
text-decoration: none;
@include vendor-prefixes(transform , rotate(0deg) );
@include vendor-prefixes(transition , .5s ease-in-out );
z-index: 11;

span {
width: 100%;
height: 4px;
border-radius: 4px;
display: block;
position: absolute;
background: #58595b;
left: 0;
opacity: 1;
@include vendor-prefixes(transform , rotate(0deg) );
@include vendor-prefixes(transition , .3s ease-in-out );
&.newcolor { background-color: #58595b;	}
&.oldcolor { background-color: #fff; }
}

.header_hamburger-icon1 { top: 0; }
.header_hamburger-icon2 { top: 10px; }
.header_hamburger-icon3 { top: 20px; }
}

.open_hamburger {

.header_hamburger-icon1 {
top: 10px;
transform: rotate(-45deg);
background-color: $white;
}

.header_hamburger-icon2 { opacity: 0; }
.header_hamburger-icon3 {
top: 10px;
transform: rotate(45deg);
background-color: $white;
}
}
}

#touch { right: 0; }
}

#header_hamburger.active.header_hamburger-icon1 {
background-color: $white;
@include vendor-prefixes(transform , rotate(-45deg));
top: 10px;
}

#header_hamburger.active.header_hamburger-icon2 {
width: 0;
left: 50%;
top: 10px;
opacity: 0;
}

#header_hamburger.active.header_hamburger-icon3 {
top: 10px;
background-color: $white;
@include vendor-prefixes(transform , rotate(45deg));
}


.header_navigation-currentmenu {
padding: 25px 23px 24px 0;
border-right: 1px solid #d3d3d3;
vertical-align: top;
float: left;
@include responsive(767) { padding: 25px 23px 24px 0; }
span {
font-family: $bold-font;
color: #58595b;
}
}

.singlework--backbutton {
width: auto;
border-right: 1px solid #d3d3d3;
float: left;
&:hover {
span.singlework_backbutton-first-dot {
@include vendor-prefixes(transform , translate(-1px, -1px));
}
span.singlework_backbutton-second-dot {
@include vendor-prefixes(transform , translate(1px, -1px));
}
span.singlework_backbutton-third-dot {
@include vendor-prefixes(transform , translate(-1px, 1px));
}
span.singlework_backbutton-fourth-dot {
@include vendor-prefixes(transform , translate(1px, 1px));
}
}

a {
width: 31px;
padding: 15px 25px 18px;
display: block;
text-decoration: none;
@include responsive(1024) { padding: 15px 25px 16px; }
}

span {
width: 10px;
height: 10px;
border-radius: 2px;
margin: 0 0 -2px 2px;
display: inline-block;
background: #58595b;
@include vendor-prefixes(transition , .2s ease-in-out);
}

.singlework_backbutton-first-dot,
.singlework_backbutton-second-dot { margin-bottom: -5px; }
}




// header nav open menu
.open_nav {
opacity: 1;
visibility: visible;
}



.page-template-home {
.scroll {
background-color: rgba(255, 255, 255, 0.9);
}
}

.open_current_nav { display: none; }
.html_open { overflow: hidden; }

.jspPane {
width: 100% !important;
@include min-responsiveheight(700) { position: initial !important; }
@include responsive(360) { position: initial !important; }
}

.jspVerticalBar {
right: -12px !important;

.jspTrack {
background: #000;
.jspDrag { background: #3b5998; }
}
}

header {
.menu-primary-menu-container {
width: 100%;
height: 650px;
@include orientation-responsive(landscape,767) { padding-top: 115px; }
@include orientation-responsive(portrait,640) { padding-top: 0; }
}
}

#big-video-wrap {
@include responsive(768) {
display: none !important;
}
}

/*.home_hero-section {
@include responsive(768) {
width: 98vw;
height: 100vh;
}
}*/

.bgblack { background-color: $black; }